#nav{
    background-color: rgb(255, 154, 193);
    color: white;
    padding: 15px;
    text-align: center;
    display: none;
}
#seta{
    transform: rotate(90deg);
}

#seta :hover{
    color: brown;
    cursor: pointer;
    
}
#nav{
    
    transition: 1s;
    visibility: hidden;
    overflow: hidden;
}

#nav._active{
    height: max-content;
    visibility: visible;
    overflow-y: auto;
    background-color: black;
    

}
#seta._active{
    transform: rotate(-90deg);
    background-color: brown;
    

}